In [52]:
import pandas as pd
import numpy as np
import igraph as ig
import time
import itertools
import requests
import random
pd.set_option("mode.copy_on_write", True)

In [31]:
USE_PANDAS_PERF=True # if multiple CPU cores are available

In [23]:
def _get_direct_edges_df(
  fids,
  df,
  max_neighbors,
):
    # WARNING we are operating on a shared dataframe...
    # ...inplace=False by default, explicitly setting here for emphasis
    out_df = df[df['i'].isin(fids)].sort_values(by=['v'], ascending=False, inplace=False)[:max_neighbors]
    return out_df

In [27]:
def find_vertex_idx(ig, fid):
    try:
        return ig.vs.find(name=fid).index
    except:
        return None

def _fetch_korder_neighbors(
  fids,graph,max_degree,max_neighbors,min_degree = 1
):

    # vids = [find_vertex_idx(graph.graph, fid) for fid in fids]
    # vids = list(filter(None, vids)) # WARNING - this filters vertex id 0 also
    vids = [vid for fid in fids for vid in [find_vertex_idx(graph, fid)] if vid is not None ]
    if len(vids) <= 0:
        raise HTTPException(status_code=404, detail="Invalid fids")
    try:
        klists = []
        mindist_and_order = min_degree
        limit = max_neighbors
        while mindist_and_order <= max_degree:
            neighbors = graph.neighborhood(
                vids, order=mindist_and_order, mode="out", mindist=mindist_and_order
            )
            # TODO prune the graph after sorting by edge weight
            klists.append(graph.vs[neighbors[0][:limit]]["name"])
            limit = limit - len(neighbors[0])
            if limit <= 0:
                break # we have reached limit of neighbors
            mindist_and_order += 1
        # end of while
        return set(itertools.chain(*klists))
    except ValueError:
        raise HTTPException(status_code=404, detail="Neighbors not found")

In [33]:
def _get_neighbors_edges(
  fids, df, graph, max_degree, max_neighbors,
):

    start_time = time.perf_counter()
    neighbors_df = _get_direct_edges_df(fids, df, max_neighbors)
    print(f"direct_edges_df took {time.perf_counter() - start_time} secs for {len(neighbors_df)} first degree edges")
    max_neighbors = max_neighbors - len(neighbors_df)
    if max_neighbors > 0 and max_degree > 1:

        start_time = time.perf_counter()
        k_neighbors_list = _fetch_korder_neighbors(fids, graph, max_degree, max_neighbors, min_degree=2)
        print(f"{time.perf_counter() - start_time} secs for {len(k_neighbors_list)} neighbors")

        start_time  = time.perf_counter()
        if USE_PANDAS_PERF:
            # if multiple CPU cores are available
            k_df = df.query('i in @k_neighbors_list').query('j in @k_neighbors_list')
        else:
            # filter with an '&' is slower because of the size of the dataframe
            # split the filtering so that indexes can be used if present
            # k_df = graph.df[graph.df['i'].isin(k_neighbors_list) & graph.df['j'].isin(k_neighbors_list)]
            k_df = df[df['i'].isin(k_neighbors_list)]
            k_df = k_df[k_df['j'].isin(k_neighbors_list)]
        # .loc will throw KeyError when fids have no outgoing actions
        ### in other words, some neighbor fids may not be present in 'i'
        # k_df = graph.df.loc[(k_neighbors_list, k_neighbors_list)]
        print(f"k_df took {time.perf_counter() - start_time} secs for {len(k_df)} edges")

        start_time  = time.perf_counter()
        neighbors_df = pd.concat([neighbors_df, k_df])
        print(f"neighbors_df concat took {time.perf_counter() - start_time} secs for {len(neighbors_df)} edges")

    return neighbors_df

In [40]:
def get_neighbors_list(
  fids, df, graph, max_degree = 2, max_neighbors = 100,
):
    df = _get_neighbors_edges(fids, df, graph, max_degree, max_neighbors)
    # WARNING we are operating on a shared dataframe...
    # ...inplace=False by default, explicitly setting here for emphasis
    out_df = df.groupby(by='j')[['v']].sum().sort_values(by=['v'], ascending=False, inplace=False)
    return out_df.index.to_list()

In [45]:
def go_eigentrust(
    pretrust, max_pt_id, localtrust, max_lt_id,
):
    start_time = time.perf_counter()

    lt_len_before = len(localtrust)
    localtrust[:] = (x for x in localtrust if x["i"] != x["j"])
    lt_len_after = len(localtrust)
    if lt_len_before != lt_len_after:
        print(f"dropped {lt_len_before-lt_len_after} records with i == j")

    req = {
        "pretrust": {
            "scheme": "inline",
            # "size": int(max_pt_id)+1, #np.int64 doesn't serialize; cast to int
            "size": max_pt_id,
            "entries": pretrust,
        },
        "localTrust": {
            "scheme": "inline",
            # "size": int(max_lt_id)+1, #np.int64 doesn't serialize; cast to int
            "size": max_lt_id,
            "entries": localtrust,
        },
        "alpha": 0.5,
    }

    response = requests.post(
        f"http://localhost:8080/basic/v1/compute",
        json=req,
        headers={"Accept": "application/json", "Content-Type": "application/json"},
        timeout=3000,
    )

    if response.status_code != 200:
        logger.error(f"Server error: {response.status_code}:{response.reason}")
        raise Exception("Unknown error")
    trustscores = response.json()["entries"]
    print(
        f"eigentrust took {time.perf_counter() - start_time} secs for {len(trustscores)} scores"
    )
    return trustscores

In [48]:
def get_neighbors_scores(
    fids, df, graph, max_degree, max_neighbors
):
    start_time = time.perf_counter()
    df = _get_neighbors_edges(fids, df, graph, max_degree, max_neighbors)
    print(
        f"dataframe took {time.perf_counter() - start_time} secs for {len(df)} edges"
    )

    if df.shape[0] < 1:
        raise Exception("No neighbors")

    stacked = df.loc[:, ("i", "j")].stack()
    pseudo_id, orig_id = stacked.factorize()

    # pseudo_df is a new dataframe to avoid modifying existing shared global df
    pseudo_df = pd.Series(pseudo_id, index=stacked.index).unstack()
    pseudo_df.loc[:, ("v")] = df.loc[:, ("v")]

    if len(fids) > 1:
        # when more than 1 fid in input list, the neighbor edges may not have some input fids.
        pt_fids = orig_id.where(orig_id.isin(fids))
    else:
        pt_fids = fids
    pt_len = len(fids)
    # pretrust = [{'i': fid, 'v': 1/pt_len} for fid in pt_fids]
    pretrust = [
        {"i": orig_id.get_loc(fid), "v": 1 / pt_len}
        for fid in pt_fids
        if not np.isnan(fid)
    ]
    # max_pt_id = max(pt_fids)
    max_pt_id = len(orig_id)

    localtrust = pseudo_df.to_dict(orient="records")
    # max_lt_id = max(df['i'].max(), df['j'].max())
    max_lt_id = len(orig_id)

    print(
        f"max_lt_id:{max_lt_id}, localtrust size:{len(localtrust)},"
        f" max_pt_id:{max_pt_id}, pretrust size:{len(pretrust)}"
    )

    i_scores = go_eigentrust(
        pretrust=pretrust,
        max_pt_id=max_pt_id,
        localtrust=localtrust,
        max_lt_id=max_lt_id,
    )

    # rename i and v to fid and score respectively
    # also, filter out input fids
    fid_scores = [
        {"fid": int(orig_id[score["i"]]), "score": score["v"]}
        for score in i_scores
        if score["i"] not in fids
    ]
    print(
        f"sample fid_scores:{random.sample(fid_scores, min(10, len(fid_scores)))}"
    )
    return fid_scores

In [2]:
lt_df = pd.read_pickle("/tmp/fc_v3engagement_fid_2024-06-18_df.pkl")

In [3]:
lt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51374922 entries, 0 to 51374921
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   i       int64
 1   j       int64
 2   v       int64
dtypes: int64(3)
memory usage: 1.1 GB

In [5]:
lt_df.head()

        i       j    v
0  388401  313582  206
1  498555  329174   43
2  566245    5650    6
3  384428  361798   13
4  689562  281836    6

In [6]:
%%time
g = ig.Graph.Read_Pickle('/tmp/fc_v3engagement_fid_2024-06-18_ig.pkl')

CPU times: user 56 s, sys: 26.7 s, total: 1min 22s
Wall time: 1min 57s

In [10]:
rainbow_fids = pd.read_csv('/tmp/rainbow_fids_17sep2024.csv')

In [11]:
rainbow_fids.head()

      fid
0  189237
1  193836
2  456528
3  350457
4  536429

In [14]:
rainbow_fids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22227 entries, 0 to 22226
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fid     22227 non-null  int64
dtypes: int64(1)
memory usage: 173.8 KB

In [35]:
n_df = _get_neighbors_edges(fids=[189237], df=lt_df, graph=g, max_degree=5, max_neighbors=1000)

direct_edges_df took 0.13775267499977417 secs for 88 first degree edges
0.10024687200029803 secs for 912 neighbors
k_df took 2.2711264770000525 secs for 118201 edges
neighbors_df concat took 0.0035934649999944668 secs for 118289 edges

In [36]:
n_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118289 entries, 2227131 to 51298114
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   i       118289 non-null  int64
 1   j       118289 non-null  int64
 2   v       118289 non-null  int64
dtypes: int64(3)
memory usage: 3.6 MB

In [38]:
n_df.head(10)

               i       j   v
2227131   189237    9135  34
178997    189237    9856  31
975843    189237    2802  28
5057250   189237    6196  28
632648    189237   18537  20
11976224  189237      12  20
2420314   189237       3  14
12095286  189237      99  14
1776912   189237    1668  14
14286344  189237  236812  13

In [41]:
n_list = get_neighbors_list(fids=[189237], df=lt_df, graph=g, max_degree=5, max_neighbors=1000)

direct_edges_df took 1.5809404209976492 secs for 88 first degree edges
0.8265469129983103 secs for 912 neighbors
k_df took 5.576144401999045 secs for 118201 edges
neighbors_df concat took 0.009947200000169687 secs for 118289 edges

In [42]:
len(n_list)

990

In [43]:
n_list

[602,
 403619,
 781098,
 234616,
 247143,
 436577,
 539,
 269694,
 408746,
 12626,
 15983,
 422233,
 8447,
 307834,
 617,
 239,
 20909,
 253127,
 6596,
 403090,
 4482,
 565051,
 8152,
 397392,
 281836,
 321969,
 129,
 3621,
 576,
 15850,
 243300,
 366713,
 402888,
 248216,
 4407,
 270138,
 391793,
 4923,
 477292,
 419741,
 3642,
 12239,
 5431,
 758919,
 472,
 1325,
 285462,
 337018,
 11528,
 12142,
 527115,
 315697,
 13874,
 230238,
 16098,
 414955,
 277952,
 4163,
 528,
 274908,
 446697,
 1689,
 522467,
 190218,
 508409,
 510364,
 475121,
 1606,
 473,
 476677,
 327165,
 369,
 315256,
 308284,
 7143,
 4905,
 478830,
 210628,
 420493,
 6806,
 2134,
 1918,
 4167,
 5818,
 276562,
 16148,
 1355,
 2211,
 2745,
 475771,
 435160,
 557,
 1287,
 308045,
 203666,
 374339,
 4294,
 343622,
 12921,
 533,
 194372,
 1110,
 475296,
 4528,
 475142,
 194410,
 471309,
 15513,
 14516,
 516505,
 466688,
 12048,
 451,
 880,
 14364,
 16085,
 440352,
 542351,
 288425,
 310124,
 9391,
 300265,
 375536,
 475275,
 521334,
 475387,
 528707,
 1407,
 2433,
 5179,
 780900,
 19105,
 467312,
 579568,
 296315,
 345284,
 509022,
 5774,
 515416,
 475478,
 502568,
 269775,
 18586,
 3887,
 268608,
 426,
 7620,
 4327,
 380950,
 20919,
 346080,
 256931,
 194,
 534239,
 3635,
 210698,
 282672,
 366864,
 299853,
 194405,
 293542,
 331948,
 391844,
 449748,
 510330,
 616,
 8,
 7237,
 301385,
 354220,
 449264,
 475202,
 479859,
 308322,
 585995,
 734,
 263333,
 326805,
 535389,
 476827,
 347,
 2417,
 9218,
 11244,
 214447,
 1214,
 20270,
 1048,
 444797,
 10144,
 476846,
 2689,
 4085,
 13203,
 441960,
 431,
 329695,
 223778,
 2341,
 274,
 230997,
 18471,
 21114,
 291302,
 475697,
 411955,
 18407,
 477126,
 8035,
 417554,
 4877,
 323433,
 526343,
 5494,
 345497,
 8446,
 509684,
 11071,
 482313,
 344203,
 401491,
 6546,
 3115,
 548,
 4753,
 380136,
 18723,
 522884,
 1285,
 480346,
 535036,
 10694,
 282520,
 336323,
 269387,
 195769,
 530264,
 476287,
 266165,
 16505,
 200375,
 475298,
 9280,
 451903,
 18570,
 300898,
 193174,
 525426,
 7258,
 505296,
 239819,
 628195,
 646093,
 571368,
 273708,
 476727,
 3895,
 2383,
 8086,
 378,
 477965,
 6622,
 7715,
 481973,
 525819,
 280380,
 475381,
 486822,
 12938,
 227886,
 367082,
 475871,
 265743,
 389553,
 511666,
 37,
 192373,
 210657,
 350911,
 325,
 6841,
 10174,
 563632,
 239905,
 527341,
 259597,
 201043,
 13948,
 771,
 331067,
 475657,
 284063,
 217780,
 1171,
 330172,
 1317,
 4606,
 523280,
 476023,
 15211,
 217261,
 20442,
 364927,
 324395,
 498134,
 698570,
 243294,
 3854,
 4612,
 478127,
 10215,
 4378,
 9595,
 312,
 482813,
 431085,
 3304,
 407249,
 7732,
 13659,
 347830,
 3103,
 475772,
 486615,
 12778,
 283597,
 243982,
 488429,
 280,
 18057,
 480196,
 192207,
 20111,
 416087,
 323630,
 480209,
 3741,
 527922,
 275519,
 499456,
 275646,
 476247,
 8998,
 292653,
 477957,
 66,
 340571,
 976,
 528242,
 478646,
 206328,
 11760,
 2441,
 289738,
 262030,
 521029,
 475422,
 567471,
 303739,
 7657,
 441048,
 5708,
 547263,
 402978,
 5181,
 8949,
 478775,
 314444,
 7061,
 435850,
 466312,
 261360,
 191780,
 521569,
 401034,
 12388,
 525109,
 211159,
 521565,
 599830,
 12312,
 551112,
 469501,
 519482,
 523858,
 516679,
 7479,
 486135,
 13596,
 485441,
 19369,
 528150,
 4823,
 11770,
 593599,
 209586,
 1236,
 12021,
 4461,
 12480,
 224429,
 537640,
 14261,
 1301,
 56,
 15126,
 422412,
 768581,
 335897,
 511674,
 290249,
 538313,
 210950,
 368422,
 14191,
 18048,
 389444,
 277196,
 445389,
 816591,
 426395,
 16565,
 460517,
 525337,
 262134,
 525098,
 343860,
 236727,
 3417,
 478360,
 412,
 699021,
 1657,
 207371,
 10946,
 240969,
 214570,
 17795,
 536001,
 283222,
 621102,
 4973,
 535736,
 475305,
 479413,
 302,
 284291,
 529034,
 20258,
 364483,
 10420,
 4483,
 191,
 513788,
 213310,
 477237,
 484971,
 12665,
 544222,
 3046,
 238463,
 239367,
 523647,
 2788,
 524788,
 649057,
 475549,
 475696,
 8046,
 484927,
 441529,
 250726,
 476675,
 330642,
 7960,
 11517,
 5283,
 242052,
 14937,
 600673,
 17316,
 13901,
 703115,
 18581,
 476552,
 477460,
 308405,
 8968,
 318473,
 436736,
 291971,
 10971,
 272717,
 191832,
 16081,
 646,
 4479,
 783802,
 7878,
 195929,
 395221,
 484477,
 532814,
 386264,
 467181,
 289613,
 12161,
 476528,
 18989,
 304656,
 417374,
 478499,
 285235,
 527622,
 2736,
 1350,
 542585,
 204173,
 600807,
 429,
 4375,
 322989,
 12741,
 527045,
 274868,
 13314,
 463072,
 742,
 565955,
 221519,
 533233,
 5713,
 5860,
 369179,
 676611,
 350662,
 601326,
 20147,
 476642,
 10677,
 524447,
 18489,
 852086,
 8977,
 7048,
 526040,
 39,
 575107,
 5034,
 531639,
 570772,
 246618,
 6815,
 17489,
 466112,
 15894,
 321992,
 525353,
 659967,
 316877,
 11188,
 485073,
 211205,
 263277,
 7588,
 477910,
 528529,
 345254,
 322867,
 807967,
 475252,
 192357,
 189052,
 8481,
 196166,
 475206,
 399485,
 522719,
 8475,
 5309,
 2458,
 12977,
 212111,
 11298,
 14932,
 8349,
 1855,
 331842,
 828,
 2074,
 621394,
 628016,
 527273,
 12219,
 18203,
 733,
 207,
 18503,
 407112,
 654902,
 14063,
 235153,
 4698,
 16877,
 14976,
 6351,
 522180,
 196648,
 8726,
 701,
 488509,
 848797,
 522033,
 307882,
 4991,
 542106,
 2070,
 524950,
 549438,
 238251,
 476614,
 486501,
 20390,
 456061,
 585419,
 4790,
 11287,
 339155,
 512655,
 375,
 319975,
 2042,
 476693,
 12949,
 443,
 476814,
 415745,
 8080,
 101,
 526900,
 14879,
 326415,
 1460,
 564409,
 188926,
 542148,
 5124,
 338571,
 13434,
 336181,
 302478,
 611,
 284298,
 639226,
 413955,
 757042,
 106,
 524390,
 1786,
 193699,
 527362,
 459557,
 512814,
 238,
 410931,
 751166,
 2653,
 20745,
 281542,
 16214,
 477981,
 537924,
 769209,
 561832,
 524016,
 522810,
 191941,
 515026,
 299351,
 525220,
 289702,
 499312,
 479741,
 545478,
 20259,
 6636,
 4888,
 536613,
 383977,
 6821,
 48,
 6701,
 17354,
 462166,
 5064,
 387380,
 336304,
 453,
 297959,
 372188,
 54,
 4879,
 43,
 475568,
 252437,
 322011,
 336612,
 266153,
 249692,
 7835,
 212072,
 811027,
 17910,
 768795,
 8531,
 528733,
 325364,
 9412,
 15207,
 523886,
 369892,
 531888,
 1067,
 17793,
 4661,
 531460,
 523780,
 18229,
 522011,
 846970,
 272435,
 336162,
 575535,
 261232,
 524240,
 304659,
 498821,
 7790,
 262473,
 18091,
 377491,
 523146,
 245547,
 15566,
 790001,
 380266,
 9,
 550303,
 513816,
 18152,
 263300,
 763660,
 477048,
 212259,
 692588,
 498396,
 475244,
 265500,
 443584,
 273986,
 340498,
 475173,
 789182,
 248093,
 215260,
 762567,
 614267,
 793703,
 808558,
 315014,
 705208,
 1546,
 245065,
 18295,
 539873,
 257787,
 212085,
 508903,
 187698,
 523389,
 307032,
 516518,
 456918,
 607729,
 266371,
 700338,
 455391,
 4989,
 570929,
 34,
 565805,
 1043,
 848290,
 14158,
 364181,
 647406,
 568864,
 476687,
 15825,
 12573,
 546965,
 11245,
 695666,
 517811,
 318555,
 17718,
 541660,
 481310,
 482201,
 621118,
 255216,
 665005,
 16362,
 682753,
 260144,
 371486,
 252763,
 240508,
 159,
 237532,
 383904,
 528536,
 354312,
 462266,
 544868,
 5584,
 448756,
 252529,
 599633,
 245789,
 363268,
 669895,
 21285,
 13665,
 196293,
 285257,
 545559,
 569449,
 434950,
 685544,
 805922,
 9135,
 293684,
 523010,
 268973,
 276692,
 9856,
 399370,
 257673,
 436627,
 2802,
 6196,
 1145,
 486869,
 763053,
 307370,
 238522,
 697361,
 85,
 213051,
 258,
 263283,
 12,
 18537,
 520640,
 263315,
 20723,
 494280,
 21149,
 3,
 1668,
 99,
 214076,
 236812,
 296887,
 222804,
 300772,
 10335,
 241781,
 19428,
 514850,
 330383,
 682876,
 698892,
 667347,
 14440,
 18513,
 269196,
 20493,
 680,
 424038,
 271940,
 235580,
 7806,
 500913,
 19832,
 2282,
 2252,
 731742,
 246871,
 20455,
 493857,
 534,
 197340,
 477997,
 5650,
 747583,
 473065,
 133,
 793196,
 190968,
 808057,
 1493,
 5787,
 475466,
 242025,
 276506,
 20670,
 24128,
 318613,
 602829,
 652543,
 192516,
 16819,
 193855,
 242577,
 12443,
 735500,
 344899,
 388801,
 534685,
 20931,
 815020,
 3727,
 240921,
 721179,
 20,
 16726,
 16520,
 241370,
 563093,
 2,
 4996,
 495514,
 2904,
 627459,
 8413,
 260,
 25,
 4179,
 4129,
 784170,
 432044,
 196957,
 4036,
 237045,
 403507,
 4651,
 3609,
 584364,
 533711,
 571857,
 571586,
 557682,
 385387,
 850412,
 773618,
 283735,
 606056,
 308042,
 9082,
 667776,
 8004,
 13833,
 51,
 664377,
 16697,
 507587,
 301340,
 7263,
 330428,
 6083,
 310928,
 738858,
 18183,
 475330,
 625864,
 312248,
 325854,
 11835]

In [53]:
n_scores = get_neighbors_scores(fids=[189237], df=lt_df, graph=g, max_degree=5, max_neighbors=1000)

direct_edges_df took 0.17843161700147903 secs for 88 first degree edges
0.08317014900239883 secs for 912 neighbors
k_df took 1.8651378099966678 secs for 118201 edges
neighbors_df concat took 0.003010766005900223 secs for 118289 edges
dataframe took 2.1303104929975234 secs for 118289 edges
max_lt_id:1000, localtrust size:118289, max_pt_id:1000, pretrust size:1
eigentrust took 0.6566140060022008 secs for 89 scores
sample fid_scores:[{'fid': 9856, 'score': 0.02316890879755531}, {'fid': 571586, 'score': 0.0007473841547598486}, {'fid': 1493, 'score': 0.0029895366190393945}, {'fid': 4179, 'score': 0.0007473841547598486}, {'fid': 25, 'score': 0.0007473841547598486}, {'fid': 3727, 'score': 0.002242152464279546}, {'fid': 808057, 'score': 0.0029895366190393945}, {'fid': 584364, 'score': 0.0007473841547598486}, {'fid': 773618, 'score': 0.0007473841547598486}, {'fid': 4129, 'score': 0.0007473841547598486}]

In [55]:
n_scores

[{'fid': 189237, 'score': 0.6666666669771075},
 {'fid': 9135, 'score': 0.02541106126183485},
 {'fid': 9856, 'score': 0.02316890879755531},
 {'fid': 2802, 'score': 0.020926756333275762},
 {'fid': 6196, 'score': 0.020926756333275762},
 {'fid': 18537, 'score': 0.014947683095196972},
 {'fid': 12, 'score': 0.014947683095196972},
 {'fid': 3, 'score': 0.010463378166637881},
 {'fid': 99, 'score': 0.010463378166637881},
 {'fid': 1668, 'score': 0.010463378166637881},
 {'fid': 236812, 'score': 0.009715994011878032},
 {'fid': 222804, 'score': 0.008968609857118184},
 {'fid': 241781, 'score': 0.008221225702358333},
 {'fid': 18513, 'score': 0.006726457392838637},
 {'fid': 424038, 'score': 0.006726457392838637},
 {'fid': 680, 'score': 0.006726457392838637},
 {'fid': 19832, 'score': 0.005231689083318941},
 {'fid': 2252, 'score': 0.005231689083318941},
 {'fid': 7806, 'score': 0.005231689083318941},
 {'fid': 2282, 'score': 0.005231689083318941},
 {'fid': 246871, 'score': 0.004484304928559092},
 {'fid': 197340, 'score': 0.003736920773799243},
 {'fid': 534, 'score': 0.003736920773799243},
 {'fid': 477997, 'score': 0.003736920773799243},
 {'fid': 190968, 'score': 0.003736920773799243},
 {'fid': 5650, 'score': 0.003736920773799243},
 {'fid': 133, 'score': 0.003736920773799243},
 {'fid': 473065, 'score': 0.003736920773799243},
 {'fid': 735500, 'score': 0.0029895366190393945},
 {'fid': 12443, 'score': 0.0029895366190393945},
 {'fid': 276506, 'score': 0.0029895366190393945},
 {'fid': 16819, 'score': 0.0029895366190393945},
 {'fid': 1493, 'score': 0.0029895366190393945},
 {'fid': 24128, 'score': 0.0029895366190393945},
 {'fid': 20670, 'score': 0.0029895366190393945},
 {'fid': 808057, 'score': 0.0029895366190393945},
 {'fid': 318613, 'score': 0.0029895366190393945},
 {'fid': 5787, 'score': 0.0029895366190393945},
 {'fid': 242025, 'score': 0.0029895366190393945},
 {'fid': 242577, 'score': 0.0029895366190393945},
 {'fid': 534685, 'score': 0.002242152464279546},
 {'fid': 344899, 'score': 0.002242152464279546},
 {'fid': 20931, 'score': 0.002242152464279546},
 {'fid': 3727, 'score': 0.002242152464279546},
 {'fid': 2904, 'score': 0.0014947683095196973},
 {'fid': 20, 'score': 0.0014947683095196973},
 {'fid': 240921, 'score': 0.0014947683095196973},
 {'fid': 2, 'score': 0.0014947683095196973},
 {'fid': 4996, 'score': 0.0014947683095196973},
 {'fid': 627459, 'score': 0.0014947683095196973},
 {'fid': 310928, 'score': 0.0007473841547598486},
 {'fid': 7263, 'score': 0.0007473841547598486},
 {'fid': 385387, 'score': 0.0007473841547598486},
 {'fid': 13833, 'score': 0.0007473841547598486},
 {'fid': 557682, 'score': 0.0007473841547598486},
 {'fid': 312248, 'score': 0.0007473841547598486},
 {'fid': 571586, 'score': 0.0007473841547598486},
 {'fid': 18183, 'score': 0.0007473841547598486},
 {'fid': 507587, 'score': 0.0007473841547598486},
 {'fid': 571857, 'score': 0.0007473841547598486},
 {'fid': 606056, 'score': 0.0007473841547598486},
 {'fid': 625864, 'score': 0.0007473841547598486},
 {'fid': 4129, 'score': 0.0007473841547598486},
 {'fid': 773618, 'score': 0.0007473841547598486},
 {'fid': 260, 'score': 0.0007473841547598486},
 {'fid': 533711, 'score': 0.0007473841547598486},
 {'fid': 784170, 'score': 0.0007473841547598486},
 {'fid': 330428, 'score': 0.0007473841547598486},
 {'fid': 664377, 'score': 0.0007473841547598486},
 {'fid': 283735, 'score': 0.0007473841547598486},
 {'fid': 403507, 'score': 0.0007473841547598486},
 {'fid': 11835, 'score': 0.0007473841547598486},
 {'fid': 9082, 'score': 0.0007473841547598486},
 {'fid': 301340, 'score': 0.0007473841547598486},
 {'fid': 4179, 'score': 0.0007473841547598486},
 {'fid': 25, 'score': 0.0007473841547598486},
 {'fid': 51, 'score': 0.0007473841547598486},
 {'fid': 196957, 'score': 0.0007473841547598486},
 {'fid': 584364, 'score': 0.0007473841547598486},
 {'fid': 738858, 'score': 0.0007473841547598486},
 {'fid': 308042, 'score': 0.0007473841547598486},
 {'fid': 6083, 'score': 0.0007473841547598486},
 {'fid': 4651, 'score': 0.0007473841547598486},
 {'fid': 4036, 'score': 0.0007473841547598486},
 {'fid': 8413, 'score': 0.0007473841547598486},
 {'fid': 475330, 'score': 0.0007473841547598486},
 {'fid': 8004, 'score': 0.0007473841547598486},
 {'fid': 3609, 'score': 0.0007473841547598486},
 {'fid': 850412, 'score': 0.0007473841547598486}]